<configuration 
	xmlns:patch="http://www.sitecore.net/xmlconfig/" 
	xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore role:require="Standalone or ContentManagement">
		<unicorn>
			<configurations>
				<configuration name="TMNA.TRG.Feature.Navigation" dependencies="TMNA.TRG.Foundation.*">
					<targetDataStore physicalRootPath="$(dataFolder)$(empty)data" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
					<predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
						<!-- <include name="Branches" database="master" path="/sitecore/templates/Branches/TMNA.TRG/Feature/Navigation" /> -->
						<!-- <include name="Layouts" database="master" path="/sitecore/layout/Layouts/TMNA.TRG/Feature/Navigation" /> -->
						<!-- <include name="Media" database="master" path="/sitecore/media library/TMNA.TRG/Feature/Navigation" /> -->
						<!-- <include name="Models" database="master" path="/sitecore/layout/Models/TMNA.TRG/Feature/Navigation" /> -->
						<!-- <include name="PlaceholderSettings" database="master" path="/sitecore/layout/placeholder settings/TMNA.TRG/Feature/Navigation" /> -->
						<include name="Renderings" database="master" path="/sitecore/layout/Renderings/Helix/Project/TestProject" />
						<!-- <include name="Settings" database="master" path="/sitecore/system/Settings/TMNA.TRG/Feature/Navigation" /> -->
						<include name="Templates" database="master" path="/sitecore/templates/Helix/Project/TestProject" />
					</predicate>
					<dataProviderConfiguration enableTransparentSync="false" type="Unicorn.Data.DataProvider.DefaultUnicornDataProviderConfiguration, Unicorn" singleInstance="true" />
					<syncConfiguration updateLinkDatabase="false" updateSearchIndex="false" maxConcurrency="1" type="Unicorn.Loader.DefaultSyncConfiguration, Unicorn" singleInstance="true" />
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>
